@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

.TimerApp {
  display: grid;
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  place-content: center center;
  justify-items: center;
}